---
import Badge from "../../components/Badge.astro";
import CollectionListItem from "../../components/CollectionListItem.astro";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { sortByDateDesc, getPublishedCollection } from "../../lib/content";
import { getThumbnail } from "../../lib/images";

const voyages = sortByDateDesc(await getPublishedCollection("voyages"));
const voyagesWithImages = await Promise.all(
  voyages.map(async (voyage) => ({
    voyage,
    img: await getThumbnail("voyages", voyage),
  }))
);
---

<Layout title="Voyages">
  <PageHeader title="Voyages" count={voyages.length} />

  <div class="divide-y divide-[#d0d7de]">
    {
      voyagesWithImages.map(({ voyage, img }) => {
        return (
          <CollectionListItem
            href={`/voyages/${voyage.id}`}
            title={voyage.data.title}
            description={voyage.data.description}
            thumbnail={img ?? undefined}
            thumbnailAlt={voyage.data.title}
          >
            <Badge slot="titleBadge" variant="country">
              {voyage.data.country}
            </Badge>
            <Badge slot="meta" variant="tag">
              {voyage.data.period}
            </Badge>
            {voyage.data.duration && (
              <Badge slot="meta" variant="success">
                {voyage.data.duration}
              </Badge>
            )}
          </CollectionListItem>
        );
      })
    }
  </div>
</Layout>
