---
import Badge from "../../components/Badge.astro";
import CollectionListItem from "../../components/CollectionListItem.astro";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { formatDateFr, getPublishedCollection, sortByDateDesc } from "../../lib/content";
import { getThumbnail } from "../../lib/images";

const articles = sortByDateDesc(await getPublishedCollection("articles"));
const articlesWithImages = await Promise.all(
  articles.map(async (article) => ({
    article,
    img: await getThumbnail("articles", article),
  }))
);
---

<Layout title="Articles">
  <PageHeader title="Articles" count={articles.length} />

  <div class="divide-y divide-[#d0d7de]">
    {
      articlesWithImages.map(({ article, img }) => {
        return (
          <CollectionListItem
            href={`/articles/${article.id}`}
            title={article.data.title}
            description={article.data.description}
            thumbnail={img ?? undefined}
            thumbnailAlt={article.data.title}
          >
            <Badge slot="meta" variant="date">
              {formatDateFr(article.data.date)}
            </Badge>
            {article.data.tags &&
              article.data.tags.map((tag) => (
                <Badge slot="meta" variant="tag">
                  {tag}
                </Badge>
              ))}
          </CollectionListItem>
        );
      })
    }
  </div>
</Layout>
