---
import Badge from "../../components/Badge.astro";
import CollectionListItem from "../../components/CollectionListItem.astro";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPublishedCollection, sortByDateDesc } from "../../lib/content";
import { getThumbnail } from "../../lib/images";

const projects = sortByDateDesc(await getPublishedCollection("projects"));
const projectsWithImages = await Promise.all(
  projects.map(async (project) => ({
    project,
    img: await getThumbnail("projects", project),
  }))
);
---

<Layout title="Projets">
  <PageHeader title="Projets" count={projects.length} />

  <div class="divide-y divide-[#d0d7de]">
    {
      projectsWithImages.map(({ project, img }) => {
        return (
          <CollectionListItem
            href={`/projects/${project.id}`}
            title={project.data.title}
            description={project.data.description}
            thumbnail={img ?? undefined}
            thumbnailAlt={project.data.title}
          >
            <Badge slot="titleBadge" variant="public">
              Public
            </Badge>
            {project.data.tech &&
              project.data.tech.map((tag: string) => (
                <Badge slot="meta" variant="tag" class="hover:bg-[#b6e3ff] transition-colors">
                  {tag}
                </Badge>
              ))}
          </CollectionListItem>
        );
      })
    }
  </div>
</Layout>
